# Twitter keys
CONSUMER_KEY=
CONSUMER_SECRET=
ACCESS_TOKEN=
ACCESS_TOKEN_SECRET=

# Database credentials (for local development, use whatever you want)
DB_USER=
DB_PASS=

# Secret for the fetch and destroy endpoints
SECRET=

# Secret for the Github webhook (for local development this can be empty)
HOOK_SECRET=

# note: .env is a shell file so there can't be spaces around =
