<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Madrid Speculative Futures</title>    
    <meta name="description" content="Madrid Speculative Futures">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
  </head>
  <body>
    <div class="Container">
      <span class="Event">Madrid Speculative Futures</span>
      <h1 class="Title">The future is <button class="Button" data-js="future">bright</button></h1>
      <span class="Date">26 de marzo de 2019 | 19:00h</span>
      <span class="Address">Chazz | José Abascal 45, 5ª planta, Madrid</span>
    </div>
  </body>
</html>
