@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;	
  font-weight: normal;	
  background-color: #1A8CDE;
  transition: background-color 0.5s ease;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; 
}

.Container {
  width: 800px;
  margin: 100px auto;
}

.Title {
  font-size: 90pt;
  margin: 20px 0 0 0;
  font-weight: bold;
}

.Event {
  font-size: 24pt;
  color: #084672;
}

.Date {
  display: block;
  font-size: 16pt;
  margin: 100px 0 0 0;	
}

.Address {	
  display: block;
  font-size: 16pt;
  font-weight: thin;
  margin: 16px 0 0 0;
  letter-spacing: 0px;
  color: #084672;
}

.Button {
  padding: 0;
  background: transparent;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 90pt;
  font-weight: bold;	
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}
